:root {
    --white: #FFFFFF;
    --black: #000000;
    --very_light_pink: #c7c7c7;
    --text_input_field: #f7f7f7;
    --lili_purple: #F0D9FF;
    --purple: #BFA2DB;
    /* Font sizes */
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body {
    font-family: 'Mali', cursive;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}