:root {
    --white: #FFFFFF;
    --black: #000000;
    --very_light_pink: #c7c7c7;
    --text_input_field: #f7f7f7;
    --lili_purple: #F0D9FF;
    --purple: #BFA2DB;
    /* Font sizes */
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body {
    font-family: 'Mali', cursive;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}
.order-container {
    display: grid;
    place-content: center;
    margin-top: 44px;
    padding: 22px;
}
.order-container .title{
    font-weight: bold;
    font-size: var(--lg);
}
.order-container .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 450px;
    background: var(--text_input_field);
    border-radius: 16px;
    padding: 12px 28px;
    margin-bottom: 32px;
}
.order-container .info p {
    font-weight: bold;
}
.order-container .info div p {
    margin: 5px;
}
.order-container .info div p:last-child{
    font-weight: normal;
}

.articles-container {
    display: flex;
    width: 450px;
    flex-direction: column;
    gap: 26px;
}
.article {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.article picture {
    display: flex;
    align-items: center;
}
.article picture img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 16px;
    margin-right: 10px;
}
.article picture p{
    color: var(--very_light_pink);
}

@media (max-width: 640px) {
    .order-container .info{
        font-size: var(--sm);
    }
    .articles-container {
        font-size: var(--sm);
    }
    .article picture img {
        width: 100px;
        height: 100px;
    }
}

